[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "hasseDiagram"]
	path = hasseDiagram
	url = https://github.com/kciomek/hassediagram
